In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.spatial.distance import cdist
from scipy.spatial import distance

In [2]:
Hipoteca = pd.read_csv("Datos/Hipoteca.csv")
Hipoteca

,ingresos,gastos_comunes,pago_coche,gastos_otros,ahorros,vivienda,estado_civil,hijos,trabajo,comprar
0,6000,1000,0,600,50000,400000,0,2,2,1
1,6745,944,123,429,43240,636897,1,3,6,0
2,6455,1033,98,795,57463,321779,2,1,8,1
3,7098,1278,15,254,54506,660933,0,0,3,0
4,6167,863,223,520,41512,348932,0,0,3,1
...,...,...,...,...,...,...,...,...,...,...
197,3831,690,352,488,10723,363120,0,0,2,0
198,3961,1030,270,475,21880,280421,2,3,8,0
199,3184,955,276,684,35565,388025,1,3,8,0
200,3334,867,369,652,19985,376892,1,2,5,0
201,3988,1157,105,382,11980,257580,0,0,4,0

In [3]:
Hipoteca.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ingresos        202 non-null    int64
 1   gastos_comunes  202 non-null    int64
 2   pago_coche      202 non-null    int64
 3   gastos_otros    202 non-null    int64
 4   ahorros         202 non-null    int64
 5   vivienda        202 non-null    int64
 6   estado_civil    202 non-null    int64
 7   hijos           202 non-null    int64
 8   trabajo         202 non-null    int64
 9   comprar         202 non-null    int64
dtypes: int64(10)
memory usage: 15.9 KB

In [4]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
estandarizar = StandardScaler()
MEstandarizada = estandarizar.fit_transform(Hipoteca)

In [5]:
pd.DataFrame(MEstandarizada)

,0,1,2,3,4,5,6,7,8,9
0,0.620129,0.104689,-1.698954,0.504359,0.649475,0.195910,-1.227088,0.562374,-0.984420,1.419481
1,1.063927,-0.101625,-0.712042,-0.515401,0.259224,1.937370,-0.029640,1.295273,0.596915,-0.704483
2,0.891173,0.226266,-0.912634,1.667244,1.080309,-0.379102,1.167809,-0.170526,1.387582,1.419481
3,1.274209,1.128886,-1.578599,-1.559015,0.909604,2.114062,-1.227088,-0.903426,-0.589086,-0.704483
4,0.719611,-0.400042,0.090326,0.027279,0.159468,-0.179497,-1.227088,-0.903426,-0.589086,1.419481
...,...,...,...,...,...,...,...,...,...,...
197,-0.671949,-1.037402,1.125381,-0.163554,-1.617963,-0.075199,-1.227088,-0.903426,-0.984420,-0.704483
198,-0.594508,0.215214,0.467439,-0.241079,-0.973876,-0.683130,1.167809,1.295273,1.387582,-0.704483
199,-1.057368,-0.061099,0.515581,1.005294,-0.183849,0.107880,-0.029640,1.295273,1.387582,-0.704483
200,-0.968013,-0.385305,1.261783,0.814462,-1.083273,0.026040,-0.029640,0.562374,0.201581,-0.704483
201,-0.578424,0.683102,-0.856468,-0.795686,-1.545397,-0.851037,-1.227088,-0.903426,-0.193753,-0.704483

### Distancia Euclidiana

In [6]:
DstEuclidiana = cdist(MEstandarizada, MEstandarizada, metric='euclidean')
MEuclidiana = pd.DataFrame(DstEuclidiana)

In [7]:
print(MEuclidiana)

          0         1         2         3         4         5         6    \
0    0.000000  3.797535  3.804493  4.038794  2.525802  2.812974  3.947750
1    3.797535  0.000000  4.438534  3.395203  4.221725  3.334202  3.816188
2    3.804493  4.438534  0.000000  5.722746  3.896767  4.080909  4.145313
3    4.038794  3.395203  5.722746  0.000000  4.275650  4.773281  4.164532
4    2.525802  4.221725  3.896767  4.275650  0.000000  3.912834  2.882255
..        ...       ...       ...       ...       ...       ...       ...
197  4.824041  4.871541  5.943808  5.392300  3.359772  5.625127  4.670034
198  5.153131  3.842371  4.327305  6.008239  4.779753  4.173088  4.243507
199  4.561513  3.534064  4.035627  5.762757  4.392829  4.317276  4.494470
200  4.691204  4.002834  4.692546  5.793142  3.891753  4.889473  4.320721
201  4.167673  4.619277  5.370211  4.439623  3.529423  4.780172  4.393969

          7         8         9    ...       192       193       194  \
0    3.266670  2.580767  4.539208  ...  4.934691  4.240535  4.508469
1    3.990354  4.623600  4.146656  ...  4.925616  3.686161  4.128101
2    4.800687  3.691077  3.765019  ...  5.452539  3.746679  4.004137
3    3.421725  4.268658  4.867024  ...  5.546361  5.446464  5.971678
4    3.823082  1.609706  3.729517  ...  3.494673  4.028524  4.549416
..        ...       ...       ...  ...       ...       ...       ...
197  4.908460  4.256585  5.329894  ...  2.076676  3.725334  4.226947
198  6.099328  4.980950  3.734372  ...  4.390720  1.929974  2.690273
199  5.096233  4.604474  4.671721  ...  3.749271  2.153866  2.752698
200  5.008674  4.371868  4.717909  ...  2.385022  2.138204  2.981351
201  4.819071  3.684435  4.533239  ...  3.580592  3.603427  3.991099

          195       196       197       198       199       200       201
0    4.258663  4.872495  4.824041  5.153131  4.561513  4.691204  4.167673
1    4.709595  4.876039  4.871541  3.842371  3.534064  4.002834  4.619277
2    3.718947  5.141249  5.943808  4.327305  4.035627  4.692546  5.370211
3    5.334579  5.325974  5.392300  6.008239  5.762757  5.793142  4.439623
4    4.136410  3.462191  3.359772  4.779753  4.392829  3.891753  3.529423
..        ...       ...       ...       ...       ...       ...       ...
197  5.322509  2.328805  0.000000  4.358276  4.101772  2.602537  2.920367
198  3.447920  3.332957  4.358276  0.000000  2.128398  2.477457  3.962922
199  4.383631  3.745084  4.101772  2.128398  0.000000  1.861647  4.177486
200  4.616872  2.557671  2.602537  2.477457  1.861647  0.000000  3.618619
201  3.697410  2.593595  2.920367  3.962922  4.177486  3.618619  0.000000

[202 rows x 202 columns]

In [8]:
print(MEuclidiana.round(3))

       0      1      2      3      4      5      6      7      8      9    \
0    0.000  3.798  3.804  4.039  2.526  2.813  3.948  3.267  2.581  4.539
1    3.798  0.000  4.439  3.395  4.222  3.334  3.816  3.990  4.624  4.147
2    3.804  4.439  0.000  5.723  3.897  4.081  4.145  4.801  3.691  3.765
3    4.039  3.395  5.723  0.000  4.276  4.773  4.165  3.422  4.269  4.867
4    2.526  4.222  3.897  4.276  0.000  3.913  2.882  3.823  1.610  3.730
..     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
197  4.824  4.872  5.944  5.392  3.360  5.625  4.670  4.908  4.257  5.330
198  5.153  3.842  4.327  6.008  4.780  4.173  4.244  6.099  4.981  3.734
199  4.562  3.534  4.036  5.763  4.393  4.317  4.494  5.096  4.604  4.672
200  4.691  4.003  4.693  5.793  3.892  4.889  4.321  5.009  4.372  4.718
201  4.168  4.619  5.370  4.440  3.529  4.780  4.394  4.819  3.684  4.533

     ...    192    193    194    195    196    197    198    199    200    201
0    ...  4.935  4.241  4.508  4.259  4.872  4.824  5.153  4.562  4.691  4.168
1    ...  4.926  3.686  4.128  4.710  4.876  4.872  3.842  3.534  4.003  4.619
2    ...  5.453  3.747  4.004  3.719  5.141  5.944  4.327  4.036  4.693  5.370
3    ...  5.546  5.446  5.972  5.335  5.326  5.392  6.008  5.763  5.793  4.440
4    ...  3.495  4.029  4.549  4.136  3.462  3.360  4.780  4.393  3.892  3.529
..   ...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
197  ...  2.077  3.725  4.227  5.323  2.329  0.000  4.358  4.102  2.603  2.920
198  ...  4.391  1.930  2.690  3.448  3.333  4.358  0.000  2.128  2.477  3.963
199  ...  3.749  2.154  2.753  4.384  3.745  4.102  2.128  0.000  1.862  4.177
200  ...  2.385  2.138  2.981  4.617  2.558  2.603  2.477  1.862  0.000  3.619
201  ...  3.581  3.603  3.991  3.697  2.594  2.920  3.963  4.177  3.619  0.000

[202 rows x 202 columns]

In [9]:
DstEuclidiana = cdist(MEstandarizada[0:10], MEstandarizada[0:10], metric='euclidean')
MEuclidiana = pd.DataFrame(DstEuclidiana)
print(MEuclidiana)

          0         1         2         3         4         5         6  \
0  0.000000  3.797535  3.804493  4.038794  2.525802  2.812974  3.947750
1  3.797535  0.000000  4.438534  3.395203  4.221725  3.334202  3.816188
2  3.804493  4.438534  0.000000  5.722746  3.896767  4.080909  4.145313
3  4.038794  3.395203  5.722746  0.000000  4.275650  4.773281  4.164532
4  2.525802  4.221725  3.896767  4.275650  0.000000  3.912834  2.882255
5  2.812974  3.334202  4.080909  4.773281  3.912834  0.000000  3.851102
6  3.947750  3.816188  4.145313  4.164532  2.882255  3.851102  0.000000
7  3.266670  3.990354  4.800687  3.421725  3.823082  5.323531  5.100542
8  2.580767  4.623600  3.691077  4.268658  1.609706  4.155028  2.732431
9  4.539208  4.146656  3.765019  4.867024  3.729517  3.676100  1.876685

          7         8         9
0  3.266670  2.580767  4.539208
1  3.990354  4.623600  4.146656
2  4.800687  3.691077  3.765019
3  3.421725  4.268658  4.867024
4  3.823082  1.609706  3.729517
5  5.323531  4.155028  3.676100
6  5.100542  2.732431  1.876685
7  0.000000  3.841435  5.966857
8  3.841435  0.000000  3.640088
9  5.966857  3.640088  0.000000

In [10]:
Objeto1 = MEstandarizada[0]
Objeto2 = MEstandarizada[1]
dstEuclidiana = distance.euclidean(Objeto1,Objeto2)
dstEuclidiana

3.797535116785011

### Distancia de Chebyshev

In [11]:
DstChebyshev = cdist(MEstandarizada, MEstandarizada, metric='chebyshev')
MChebyshev = pd.DataFrame(DstChebyshev)

In [12]:
print(MChebyshev)

          0         1         2         3         4         5         6    \
0    0.000000  2.123964  2.394897  2.123964  1.789280  1.639965  2.768169
1    2.123964  0.000000  2.316473  2.198699  2.198699  2.123964  2.123964
2    2.394897  2.316473  0.000000  3.226259  2.394897  2.802850  2.898266
3    2.123964  2.198699  3.226259  0.000000  2.293559  2.931599  2.647814
4    1.789280  2.198699  2.394897  2.293559  0.000000  2.931599  1.602611
..        ...       ...       ...       ...       ...       ...       ...
197  2.824335  2.198699  2.698272  2.703980  2.123964  2.931599  2.239972
198  2.394897  2.620501  2.123964  2.797192  2.394897  2.123964  2.123964
199  2.372002  2.121295  2.123964  2.564310  2.198699  2.140900  2.236316
200  2.960737  2.031939  2.174417  2.840382  2.123964  2.872477  2.123964
201  2.194872  2.788408  2.625706  2.965099  2.123964  2.931599  2.123964

          7         8         9    ...       192       193       194  \
0    2.123964  1.676949  2.394897  ...  3.586584  2.394897  2.394897
1    2.198699  2.542659  2.299425  ...  2.599672  2.446345  2.555928
2    2.767335  2.394897  3.279931  ...  2.800264  2.123964  2.123964
3    3.148734  2.719351  2.476117  ...  3.466229  2.623037  2.732620
4    2.123964  1.425772  2.394897  ...  2.123964  2.394897  2.394897
..        ...       ...       ...  ...       ...       ...       ...
197  2.696887  2.296476  2.394897  ...  1.282155  2.394897  2.394897
198  2.767335  2.394897  2.123964  ...  2.394897  1.186001  1.588688
199  2.767335  2.198699  2.617981  ...  2.198699  1.197448  1.636830
200  2.647814  2.123964  2.427149  ...  1.465800  1.404144  2.383033
201  2.624321  2.223910  2.394897  ...  2.744098  2.394897  2.394897

          195       196       197       198       199       200       201
0    2.394897  2.976785  2.824335  2.394897  2.372002  2.960737  2.194872
1    2.918581  3.035472  2.198699  2.620501  2.121295  2.031939  2.788408
2    2.755142  2.190464  2.698272  2.123964  2.123964  2.174417  2.625706
3    3.095273  3.212163  2.703980  2.797192  2.564310  2.840382  2.965099
4    2.394897  2.123964  2.123964  2.394897  2.198699  2.123964  2.123964
..        ...       ...       ...       ...       ...       ...       ...
197  2.439198  1.492087  0.000000  2.394897  2.372002  1.465800  1.981849
198  2.123964  2.198699  2.394897  0.000000  1.246374  1.197448  2.394897
199  2.123964  2.198699  2.372002  1.246374  0.000000  1.186001  2.198699
200  2.575601  1.465800  1.465800  1.197448  1.186001  0.000000  2.118251
201  2.394897  2.134299  1.981849  2.394897  2.198699  2.118251  0.000000

[202 rows x 202 columns]

In [13]:
DstChebyshev = cdist(MEstandarizada[0:10], MEstandarizada[0:10], metric='chebyshev')
MChebyshev = pd.DataFrame(DstChebyshev)
print(MChebyshev)

          0         1         2         3         4         5         6  \
0  0.000000  2.123964  2.394897  2.123964  1.789280  1.639965  2.768169
1  2.123964  0.000000  2.316473  2.198699  2.198699  2.123964  2.123964
2  2.394897  2.316473  0.000000  3.226259  2.394897  2.802850  2.898266
3  2.123964  2.198699  3.226259  0.000000  2.293559  2.931599  2.647814
4  1.789280  2.198699  2.394897  2.293559  0.000000  2.931599  1.602611
5  1.639965  2.123964  2.802850  2.931599  2.931599  0.000000  2.679909
6  2.768169  2.123964  2.898266  2.647814  1.602611  2.679909  0.000000
7  2.123964  2.198699  2.767335  3.148734  2.123964  2.931599  2.820741
8  1.676949  2.542659  2.394897  2.719351  1.425772  2.931599  1.562440
9  2.394897  2.299425  3.279931  2.476117  2.394897  2.198699  1.197448

          7         8         9
0  2.123964  1.676949  2.394897
1  2.198699  2.542659  2.299425
2  2.767335  2.394897  3.279931
3  3.148734  2.719351  2.476117
4  2.123964  1.425772  2.394897
5  2.931599  2.931599  2.198699
6  2.820741  1.562440  1.197448
7  0.000000  2.317671  3.202405
8  2.317671  0.000000  2.394897
9  3.202405  2.394897  0.000000

In [14]:
Objeto1 = MEstandarizada[0]
Objeto2 = MEstandarizada[1]
dstChebyshev = distance.chebyshev(Objeto1,Objeto2)
dstChebyshev

2.1239636695175896

### Distancia de Manhattan

In [15]:
DstManhattan = cdist(MEstandarizada, MEstandarizada, metric='cityblock')
MManhattan = pd.DataFrame(DstManhattan)

In [16]:
print(MManhattan)

           0          1          2          3          4          5    \
0     0.000000  10.424141   8.847472  10.025386   5.597122   6.427056
1    10.424141   0.000000  11.599318   8.760185  10.910516   7.989831
2     8.847472  11.599318   0.000000  15.070180   9.665707   9.654680
3    10.025386   8.760185  15.070180   0.000000  10.506404  12.104296
4     5.597122  10.910516   9.665707  10.506404   0.000000   8.871644
..         ...        ...        ...        ...        ...        ...
197  12.054727  13.728162  17.321540  13.324049   7.655833  15.404483
198  14.363146   9.270791  10.733106  17.397300  12.906049  11.947751
199  11.906421   7.973369  10.864423  16.652502  11.646667  11.049672
200  11.759006  10.001368  13.306994  16.505087  10.687158  11.880169
201  11.541748  11.631632  14.376265   9.599311   9.046640  12.668503

           6          7          8          9    ...        192        193  \
0     9.618351   7.738225   5.611823  11.881937  ...  11.036369  10.943929
1     9.562377   9.695689  12.626546  11.067069  ...  13.667589   8.995459
2     9.875240  10.679192   8.879890   7.046665  ...  14.545862   9.906940
3    10.200232   5.972322   9.129148  12.206451  ...  12.674010  15.499177
4     7.853348   9.578937   2.837118   8.760076  ...   8.249101   9.838703
..         ...        ...        ...        ...  ...        ...        ...
197  12.961142  11.987579  10.492951  15.464842  ...   4.738848   9.665553
198  12.795914  17.006548  13.661073   9.546119  ...  10.896224   4.976340
199  11.954832  13.769003  13.197620  12.136089  ...   9.098238   5.438491
200  10.700149  14.003252  12.886525  13.406328  ...   6.041235   4.470837
201  12.297102  11.216708   8.641222  12.734686  ...   7.222058   9.195785

           194        195        196        197        198        199  \
0    11.980184  11.666495  13.522594  12.054727  14.363146  11.906421
1    10.250294  12.942775  11.850594  13.728162   9.270791   7.973369
2    10.331218   8.141585  14.752881  17.321540  10.733106  10.864423
3    16.726264  13.961793  12.728761  13.324049  17.397300  16.652502
4    12.890938  11.551886   9.133898   7.655833  12.906049  11.646667
..         ...        ...        ...        ...        ...        ...
197  10.872932  14.943625   5.340889   0.000000  10.283140  10.525713
198   6.581236   8.382752   7.119264  10.283140   0.000000   4.812175
199   7.157886  12.430243   9.405274  10.525713   4.812175   0.000000
200   6.486318  12.885111   6.056704   6.547757   6.758826   4.250761
201  10.163133   8.876544   5.176776   6.067082   9.276845  11.694123

           200        201
0    11.759006  11.541748
1    10.001368  11.631632
2    13.306994  14.376265
3    16.505087   9.599311
4    10.687158   9.046640
..         ...        ...
197   6.547757   6.067082
198   6.758826   9.276845
199   4.250761  11.694123
200   0.000000   9.584179
201   9.584179   0.000000

[202 rows x 202 columns]

In [17]:
DstManhattan = cdist(MEstandarizada[0:10], MEstandarizada[0:10], metric='cityblock')
MManhattan = pd.DataFrame(DstManhattan)
print(MManhattan)

           0          1          2          3          4          5  \
0   0.000000  10.424141   8.847472  10.025386   5.597122   6.427056
1  10.424141   0.000000  11.599318   8.760185  10.910516   7.989831
2   8.847472  11.599318   0.000000  15.070180   9.665707   9.654680
3  10.025386   8.760185  15.070180   0.000000  10.506404  12.104296
4   5.597122  10.910516   9.665707  10.506404   0.000000   8.871644
5   6.427056   7.989831   9.654680  12.104296   8.871644   0.000000
6   9.618351   9.562377   9.875240  10.200232   7.853348   7.822056
7   7.738225   9.695689  10.679192   5.972322   9.578937  13.887734
8   5.611823  12.626546   8.879890   9.129148   2.837118  10.092330
9  11.881937  11.067069   7.046665  12.206451   8.760076   9.510240

           6          7          8          9
0   9.618351   7.738225   5.611823  11.881937
1   9.562377   9.695689  12.626546  11.067069
2   9.875240  10.679192   8.879890   7.046665
3  10.200232   5.972322   9.129148  12.206451
4   7.853348   9.578937   2.837118   8.760076
5   7.822056  13.887734  10.092330   9.510240
6   0.000000  14.008775   7.132801   4.489027
7  14.008775   0.000000   9.177593  16.710664
8   7.132801   9.177593   0.000000   8.280457
9   4.489027  16.710664   8.280457   0.000000

In [18]:
Objeto1 = MEstandarizada[0]
Objeto2 = MEstandarizada[1]
dstManhattan = distance.cityblock(Objeto1,Objeto2)
dstManhattan

10.424141070900212

### Distancia de Minkowski

In [23]:
DstMinkowski = cdist(MEstandarizada, MEstandarizada, metric='minkowski', p=1.5)
MMinkowski = pd.DataFrame(DstMinkowski)

In [24]:
print(MMinkowski)

          0         1         2         3         4         5         6    \
0    0.000000  5.230769  4.898143  5.380078  3.194333  3.636612  5.183831
1    5.230769  0.000000  6.008218  4.577987  5.684360  4.337667  5.116112
2    4.898143  6.008218  0.000000  7.767533  5.170442  5.280479  5.411805
3    5.380078  4.577987  7.767533  0.000000  5.718837  6.381416  5.480466
4    3.194333  5.684360  5.170442  5.718837  0.000000  4.992040  3.974325
..        ...       ...       ...       ...       ...       ...       ...
197  6.456871  6.837178  8.422537  7.245848  4.337683  7.764117  6.487856
198  7.165865  5.054451  5.822982  8.521634  6.550299  5.843132  6.085306
199  6.180060  4.581278  5.546062  8.164713  5.976566  5.825098  6.143989
200  6.259283  5.365428  6.552322  8.153774  5.392557  6.510890  5.782083
201  5.782133  6.178405  7.359566  5.613723  4.762823  6.465142  6.106043

          7         8         9    ...       192       193       194  \
0    4.251992  3.276410  6.152703  ...  6.292453  5.732108  6.173954
1    5.260852  6.347660  5.663025  ...  6.859263  4.831733  5.487579
2    6.191502  4.830481  4.472055  ...  7.459553  5.109963  5.410930
3    3.924650  5.421550  6.534552  ...  7.233558  7.659341  8.354324
4    5.127385  1.876635  4.862207  ...  4.589058  5.303400  6.344189
..        ...       ...       ...  ...       ...       ...       ...
197  6.552494  5.664491  7.538104  ...  2.681842  5.024339  5.689137
198  8.561068  6.889972  5.028570  ...  5.862759  2.614047  3.569881
199  7.018403  6.454489  6.301379  ...  4.964790  2.887460  3.724319
200  6.988393  6.211433  6.587426  ...  3.191344  2.691919  3.732065
201  6.300794  4.797150  6.302379  ...  4.384786  4.821005  5.353560

          195       196       197       198       199       200       201
0    5.884732  6.730003  6.456871  7.165865  6.180060  6.259283  5.782133
1    6.468729  6.467845  6.837178  5.054451  4.581278  5.365428  6.178405
2    4.711244  7.237442  8.422537  5.822982  5.546062  6.552322  7.359566
3    7.239426  7.021979  7.245848  8.521634  8.164713  8.153774  5.613723
4    5.758286  4.731171  4.337683  6.550299  5.976566  5.392557  4.762823
..        ...       ...       ...       ...       ...       ...       ...
197  7.417581  3.007351  0.000000  5.694620  5.518374  3.484710  3.653702
198  4.537760  4.189245  5.694620  0.000000  2.757183  3.428694  5.157947
199  6.125784  5.007934  5.518374  2.757183  0.000000  2.407156  5.832106
200  6.391708  3.370944  3.484710  3.428694  2.407156  0.000000  4.928902
201  4.811064  3.143049  3.653702  5.157947  5.832106  4.928902  0.000000

[202 rows x 202 columns]

In [25]:
DstMinkowski = cdist(MEstandarizada[0:10], MEstandarizada[0:10], metric='minkowski', p=1.5)
MMinkowski = pd.DataFrame(DstMinkowski)
print(MMinkowski)

          0         1         2         3         4         5         6  \
0  0.000000  5.230769  4.898143  5.380078  3.194333  3.636612  5.183831
1  5.230769  0.000000  6.008218  4.577987  5.684360  4.337667  5.116112
2  4.898143  6.008218  0.000000  7.767533  5.170442  5.280479  5.411805
3  5.380078  4.577987  7.767533  0.000000  5.718837  6.381416  5.480466
4  3.194333  5.684360  5.170442  5.718837  0.000000  4.992040  3.974325
5  3.636612  4.337667  5.280479  6.381416  4.992040  0.000000  4.768838
6  5.183831  5.116112  5.411805  5.480466  3.974325  4.768838  0.000000
7  4.251992  5.260852  6.191502  3.924650  5.127385  7.195193  7.025383
8  3.276410  6.347660  4.830481  5.421550  1.876635  5.463708  3.708546
9  6.152703  5.663025  4.472055  6.534552  4.862207  4.949609  2.467307

          7         8         9
0  4.251992  3.276410  6.152703
1  5.260852  6.347660  5.663025
2  6.191502  4.830481  4.472055
3  3.924650  5.421550  6.534552
4  5.127385  1.876635  4.862207
5  7.195193  5.463708  4.949609
6  7.025383  3.708546  2.467307
7  0.000000  5.046566  8.299101
8  5.046566  0.000000  4.667053
9  8.299101  4.667053  0.000000

In [27]:
Objeto1 = MEstandarizada[0]
Objeto2 = MEstandarizada[1]
dstMinkowski = distance.minkowski(Objeto1,Objeto2, p=1.5)
dstMinkowski

5.230769189641202

### Distancia de Hamming

In [28]:
#Sean dos cadenas
cadena_1 = "euclidean"
cadena_2 = "manhattan"

In [29]:
dstHamming = distance.hamming(list("euclidean"), list("manhattan"))*len("euclidean")
dstHamming

7.0

In [ ]:
#Cadenas
cadena_1 = "Distancias"
cadena_2 = "DistorsiÃ³n"

In [ ]:
dstHamming = distance.hamming(list("euclidean"), list("manhattan"))*len("euclidean")
dstHamming